body {
    background-color: ivory;
}

thead {
    background-color: slategrey;
    color: linen;
}

ul {
    list-style-type: none;
    line-height: 2em;
}

.main-content {
    max-width: 80%;
    margin: 2em auto;
    background-color: #fff;
}
