{% load query_transform %}
{% if is_paginated %}
        <ul class="pagination">

          {% if page_obj.has_previous %}
            <li class="mr-2 btn btn-outline-secondary">
              <a href="?{% query_transform request page=page_obj.previous_page_number %}"><--</a>
            </li>
          {% endif %}

          <li class="btn btn-outline-secondary">
            {{ page_obj.number }} of {{ paginator.num_pages }}
          </li>

          {% if page_obj.has_next %}
            <li class="ml-2 btn btn-outline-secondary">
              <a href="?{% query_transform request page=page_obj.next_page_number %}">--></a>
            </li>
          {% endif %}

        </ul>

      {% endif %}
