{% extends "base.html" %}

{% block title %}
  <title>Our dishes</title>
{% endblock %}

{% block content %}
  <h2>Everything you can eat!</h2>
  <br>

  {% if dish_list %}
    <table class="table table-striped"">
      <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>

      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.dish_type }}</td>
          <td>
            <a href={% url "kitchen:dish-detail" pk=dish.id %}>{{ dish.name }}</a>
          </td>
          <td> <strong>{{ dish.price }}</strong> USD</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% else %}
    <p>Sorry. No dishes yet...</p>
  {% endif %}
{% endblock %}
